# The following folders will be ignored---------------------------------

Data/
Notes/
Script/


# The following cache will be ignored-----------------------------------

__pycache__/


# The following files will be ignored-----------------------------------
.DS_Store
